.header-font {
    background-image: url(/web/images/bgfront.png);
    background-repeat: repeat-y;
    background-size: contain;
}

body {
    font-family: "Open Sans";
}

img.photo-rect {
    width: 380px;
    border: 5px #fff solid;
    margin-left: -30px;
    margin-right: 20px;
    margin-bottom: -30px;
    margin-top: 20px;
}

.photo-rect-wrap {
    border: 5px #fff solid;
    float: left;
}

.bgover-light {
    background-color: #e6e6e6;
}

footer.footer {
    background-color: #8D8E8D;
    color: #fff;
}

.header-category {
    min-height: 80vh;
    background-size: cover;
    position: relative;
}

.header-category-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 16, 16, 0.42);
}

img.previewArt {
    width: 104px;
    height: 104px;
    margin-right: 15px;
}